@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

/* ---------- Global Reset ---------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- Root ---------- */

:root {
  font-family: "Geist Variable", sans-serif;
  color: #111827;
  background-color: #ffffff;
}

/* ---------- HTML ---------- */

html {
  scroll-behavior: smooth;
}

/* ---------- Body ---------- */

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Geist Variable", sans-serif;
  background: #ffffff;
  color: #111827;
  line-height: 1.5;
  overflow-x: hidden;
}

/* ---------- Root ---------- */

#root {
  min-height: 100vh;
}

/* ---------- Images ---------- */

img,
picture {
  display: block;
  max-width: 100%;
}

/* ---------- Forms ---------- */

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

/* ---------- Links ---------- */

a {
  color: inherit;
  text-decoration: none;
}

/* ---------- Lists ---------- */

ul,
ol {
  list-style: none;
}